<?xml version='1.0' encoding='UTF-8'?>
<flow-definition plugin="workflow-job@2.9">
  <actions/>
  <description></description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty plugin="gitlab-plugin@1.4.4">
      <gitLabConnection></gitLabConnection>
    </com.dabsquared.gitlabjenkins.connection.GitLabConnectionProperty>
    <org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
      <triggers/>
    </org.jenkinsci.plugins.workflow.job.properties.PipelineTriggersJobProperty>
  </properties>
  <definition class="org.jenkinsci.plugins.workflow.cps.CpsFlowDefinition" plugin="workflow-cps@2.24">
    <script>def scriptDeploy = node () {
   git &quot;https://github.com/lesfurets/randori&quot;
   sh &apos;git checkout origin/aar&apos;
   def runner = load &apos;jenkins/src/main/lib/scriptLoader.jenkins&apos;
   return runner.configure(&apos;jenkins/src/main/job/randoriPipeline.jenkins&apos;)
}
scriptDeploy.execute()</script>
    <sandbox>true</sandbox>
  </definition>
  <triggers/>
</flow-definition>